{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>login success </h1>
    {% else %}
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class='d-flex justify-content-center align-items-center vh-100' >
            <form method="POST" class="custom-form p-4 border rounded bg-light shadow">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary w-100">login</button>
            </form>
    </div>
    {%endif%}
{% endblock %}