{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}

    <!-- Display all users -->
    <div class="col-md-6 offset-md-3">
    <h3>All Users</h3>
    <table class="table table-striped table-hover table-bordered">
        <thead class='table-dark'>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Password Change<th>
        </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td><a> {{ user.id }} </a></td>
            <td>{{ user.username }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.role }}</td>
            <td><a class='btn btn-warning' href='{% url "change_user_password" user.id %}'>Change Password</a></td>
            <td><a class='btn btn-success' href='{% url "edit-user" user.id  %}'>edit</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No users found.</td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'register' %}">ADD USER</a>
</div>

    {% else %}

    {%endif%}
{% endblock %}